/*Делаю базовые стили чтобы браузер не добовлял свои margin, padding и box-sizing на будующее для элементов*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #494E5B;

    /* Body 2 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.36px;
}
/*Базовые стили, стили контейнера*/
body {
    background-color: #F7F7F0;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    margin: 80px auto 0;
}

.container-medium {
    max-width: 500px;

    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*Добовляю анимацию */
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

/*Nav-bar styles*/
.links-container {
    display: flex;
    width: fit-content;
    gap: 8px;
}

li {
    list-style-type: none;
}

.link {
    color: #7F8596;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.5s;
}

.link:first-child {
    margin-left: 16px !important;
}

.nav-bar {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.link:hover {
    background-color: #22252D;
    color: #fff;
}

.nav-bar-container {
    position: relative;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
}

/*Buttons styles*/
.sec-btn {
    padding: 8px 12px;
    border-radius: 8px;
    border: 2px solid rgba(127, 133, 150, 0.30);
    color: #22252D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.unvisible {
    display: none;
}

/*Position styles*/
.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Typygraphy styles*/
h1 {
    color: #22252D;
    font-family: Archivo;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 112.5% */
    letter-spacing: -1.92px;
}

p {
    margin-top: 16px;
}

.first_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #22252D;

    font-family: Archivo;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.92px;

    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.other-days {
    color: #7F8596;
    font-family: Archivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
}

.main-illustration {
    -webkit-animation-name: zoomInRight;
    animation-name: zoomInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}